.countdown-container {
  text-align: center;
  height: 100vh;
  overflow-y: hidden;
  background-image: url("./cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  color:white;
}