.countdown-container {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  height: 100vh;
  overflow-y: hidden;
  background-image: url("./cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  color:white;
}

.timer {
  font-size: 15rem;
  height:68.5vh;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  color:#ADFC69;    
  width:100vw;
}

.counter-milli {
  font-size: 5rem;
  padding-top: 335px;
  padding-left: 10px;
  color: #c6c4c5;
  opacity: 70%;
  width: 50px;
}

.counter-day-number{
  padding: 0%;
}