.countdown-container {
    text-align: center;
    height: 100vh;
    overflow-y: hidden;
    background-image: url("./cover.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center; 
    color:white;
}

.DAOwords{
  z-index: 1;
  max-width: 100%;
  height: auto;
  display: block;
  margin-top: 20px;
}
  
.timer {
    font-size: 25rem;
    padding-top:150px;
    height:68.5vh;
    justify-content: center;
    color:#ADFC69;    
    width:100vw;
}
  
.controls {
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
button {
    margin-top: 10px;
    font-size: 1.2rem;
    padding: 5px 10px;
    cursor: pointer;
    margin-right:100px;
    margin-left:100px;
    font-family: 'Times New Roman', Times, serif;
    color:#141414;
    background-color:#A19B9B;
    border-radius: 10%;
}

.buttons{
  display:flex;
  flex-direction: row;
  padding-bottom:170px;  
}
  