.countdown-container {
  text-align: center;
  font-family: 'Kanit', sans-serif;
  height: 100vh;
  overflow-y: hidden;
  background-image: url("./cover.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; 
  color:white;
}

.timer {
  font-size: 15rem;
  height:68.5vh;
  padding-top: 10px;
  display: flex;
  justify-content: center;
  color:#ADFC69;    
  width:100vw;
}